
.container{
    margin-bottom: 100px;}

    

.buy-now-button{
    background-color:black;
       color: #fff;
       
       border: none;
    
       border-radius: 8px;
      
       padding: 9px 25px;
       cursor: pointer;
}
.card{
    text-align: center;
    border: none;
    box-shadow: 1px 1px 1px 1px lightgray;}

    .card-footer{
        border-radius: 5px;
        background-color:white;
        border-top:none;
        text-align: center;}
 .card img{
     
     padding:20px 20px 10px 40px;
     
 }
 a { color: #FF9D00;}

 .container-categories h1{
     text-align: center;
     
 }
 .box{
    background-color:black;
    color: #fff;
    
    border: none;
 
    border-radius: 10px;
   
    padding: 5px 55px;
      margin-top: -15px;
      margin-bottom: 20px;
    margin-left: 44%;
    margin-right: 60%;
    background-image: linear-gradient(to left, #FFC121 0%, #FF9C35 100%);
  }
  .box2{
      float:right;
  }
  .p2{
    box-shadow: 1px 1px 1px 1px lightgray;
  }
  .cat-1{
      /* text-align: center; */
      margin-bottom: 40px;
  }

  .card1{
      border-top-left-radius: 3px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 3px;
      box-shadow: 10px 10px 50px darkgray;
  }
  .card2{
    border-top-left-radius: 10px;
    border-top-right-radius:3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 22px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 50px darkgray;
}